#python compiled files
*.pyc
__pycache__

# Pycharm
.idea

# Vim
*~
*.swp
*.swo

# Logs
*.log

#App migrations
mmb/users/migrations/*
mmb/bands/migrations/*
mmb/mdata/migrations/*
mmb/muse/migrations/*

#Images/audios/videos
media/songs/*
media/audio/*
static/images/profile/*

#db
mmb/db.sqlite3
