<b style="color:#ff8c05; font-size: 15px">WE ARE HAPPY TO BE A PART OF YOUR MUSICAL JOURNEY</b>
<p>
    MakeMyBand is a vibrant community of independent musicians and bands
    with a vast collection of fresh music that you have never heard before.
</p>

<p>
    We have developed a state-of-the-art platform for artists to collaborate,
    showcase, record and market their music.
</p>
<p>
    create your own fanbase and get yourself heard by music lovers all over
    the world waiting to listen to  your unique compositions. All of this,
    just one click away.
</p>

<strong style="color:#ff8c05; font-size: 10px"> MakeMyBand.in </strong>